/* Responsive Styling */
@media (max-width: 768px) {
    #home h1 {
        font-size: 2.5rem;
    }

    #home h2 {
        font-size: 1.5rem;
    }

    #home p {
        font-size: 1rem;
    }

    .modal-content {
        max-height: 80vh; /* Altura máxima para el modal en móviles */
    }

    .cta-button {
        font-size: 1rem;
        padding: 8px 20px;
    }

    .modal-section h4 {
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);  /* Sombra sutil para darle algo de profundidad */
        padding: 10px 15px;
        border-radius: 8px;  /* Un poco de borde redondeado para hacer que parezca un botón */
        text-decoration: underline; /* Dejamos la subrayado al pasar el ratón en pantallas grandes */
    }

    .modal-section h4:active {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15); /* Un pequeño cambio al hacer clic para darle sensación de interactividad */
    }

    /* Ocultar la lista de responsabilidades inicialmente */
    .responsibilities-list {
        display: none;
    }
}

@media (max-width: 480px) {
    #home h1 {
        font-size: 2rem;
    }

    #home h2 {
        font-size: 1.2rem;
    }

    #home p {
        font-size: 0.9rem;
    }

    /* Estilos para el modal */
    .modal-content {
        padding: 15px; /* Reducir el padding en móviles */
        max-height: 80vh; /* Altura máxima para el modal en móviles */
    }

    .modal-title {
        font-size: 1.5rem; /* Ajustar tamaño del título */
    }

    #modalProjectDescription {
        font-size: 0.9rem; /* Ajustar tamaño de la descripción */
    }

    .modal-section h4 {
        font-size: 1.2rem; /* Ajustar tamaño de encabezados de secciones */
    }

    .responsibilities-list li {
        font-size: 0.9rem; /* Ajustar tamaño de texto de las responsabilidades */
    }

    .tech-logos img {
        width: 30px; /* Reducir tamaño de logos */
    }
}

@media (min-width: 769px) {
    .responsibilities-list {
        display: block;  /* Las responsabilidades siempre estarán visibles en pantallas grandes */
    }

    .modal-section h4 {
        text-decoration: none; /* Eliminamos subrayado */
        box-shadow: none; /* Sin sombra en escritorio */
    }

}