/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Home Section */
#home {
    height: 100vh;
    background: #333 url('background.jpg') no-repeat center center/cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

#home h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

#home p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.cta-button {
    background-color: #FF6347;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 50px;
    transition: background-color 0.3s ease-in-out;
}

.cta-button:hover {
    background-color: #ff4f33;
}

/* Projects Section */
#projects {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}

#projects h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #333;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project-card {
    background: #f4f4f4;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    opacity: 0;
    transform: translateY(20px);
}

/* Animaciones */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animación para las secciones generales */
.animated.fade-in-up-section {
    animation: fadeInUp 0.5s forwards;
}

/* Animación para las tarjetas de proyectos */
.project-card.fade-in-up-card {
    animation: fadeInUp 0.5s forwards;
}

.project-card:nth-child(1) { animation-delay: 0.1s; }
.project-card:nth-child(2) { animation-delay: 0.2s; }
.project-card:nth-child(3) { animation-delay: 0.3s; }
.project-card:nth-child(4) { animation-delay: 0.4s; }
.project-card:nth-child(5) { animation-delay: 0.5s; }
.project-card:nth-child(6) { animation-delay: 0.6s; }

/* Estilos específicos para las imágenes dentro de las tarjetas de proyecto */
.project-card img {
    width: 200px;  /* Esto ajustará la imagen para que ocupe el ancho completo del contenedor */
    height: 200px; /* Mantiene la proporción original de la imagen */
    object-fit: contain; /* Esto asegura que la imagen se ajuste sin recortar */
    border-radius: 15px; /* Bordes redondeados */
    margin-bottom: 15px; /* Un poco de espacio entre la imagen y el título */
}

.project-card h3 {
    font-size: 1.5rem;
    margin-top: 15px;
    color: #333;
}

.project-card p {
    margin: 10px 0;
    font-size: 1rem;
    color: #666;
}

.project-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF6347;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.project-link:hover {
    background-color: #ff4f33;
}

.project-card:hover {
    transform: scale(1.05);
    background-color: #e0e0e0;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

/* Modal Styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal.show {
    display: flex;
    opacity: 1;
    transform: scale(1);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.modal.show .modal-content {
    opacity: 1;
    transform: translateY(0);
}

.tech-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
}

.tech-logos img {
    width: 40px;
    height: auto;
    margin: 5px;
    transition: transform 0.3s ease;
}

.tech-logos img:hover {
    transform: scale(1.1);
}

/* Clase para bloquear el scroll */
.no-scroll {
    overflow: hidden;
}

/* About Section */
#about {
    background-color: #f4f4f4;
    padding: 60px 20px;
    text-align: center;
}

#about h2 {
    font-size: 2.8rem;
    margin-bottom: 30px;
    color: #333;
    font-family: 'Poppins', sans-serif;
}

.about-content {
    max-width: 900px;
    margin: 0 auto;
    font-size: 1.1rem;
    line-height: 1.8;
    color: #666;
    text-align: left;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.about-content p {
    margin-bottom: 10px;
}

.about-content img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    width: 150px;
}

/* Contact Section */
#contact {
    background-color: #333;
    color: #fff;
    padding: 60px 20px;
    text-align: center;
}

#contact h2 {
    font-size: 2.8rem;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    color: #FF6347;
}

#contact p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #ccc;
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact-button img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.contact-button img:hover {
    transform: scale(1.1);
}

.contact-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: rgb(255, 255, 255);
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 0.9rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

/* Responsive Styling */
@media (max-width: 768px) {
    #home h1 {
        font-size: 2.5rem;
    }

    #home h2 {
        font-size: 1.5rem;
    }

    #home p {
        font-size: 1rem;
    }

    .cta-button {
        font-size: 1rem;
        padding: 8px 20px;
    }
}

@media (max-width: 480px) {
    #home h1 {
        font-size: 2rem;
    }

    #home h2 {
        font-size: 1.2rem;
    }

    #home p {
        font-size: 0.9rem;
    }
}
