/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Home Section */
#home {
    height: 100vh;
    background: #333 url('background.jpg') no-repeat center center/cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home .container {
    max-width: 90%;
    padding: 20px;
}

#home h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

#home h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

#home p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.cta-button {
    background-color: #FF6347;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 50px;
    transition: background-color 0.3s ease-in-out;
}

.cta-button:hover {
    background-color: #ff4f33;
}

/* Projects Section */
#projects {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}

#projects h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #333;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project-card {
    background: #f4f4f4;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.project-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.project-card h3 {
    font-size: 1.5rem;
    margin-top: 15px;
    color: #333;
}

.project-card p {
    margin: 10px 0;
    font-size: 1rem;
    color: #666;
}

.project-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF6347;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.project-link:hover {
    background-color: #ff4f33;
}

.project-card:hover {
    transform: scale(1.05);
}

/* Responsive Styling */
@media (max-width: 768px) {
    #home h1 {
        font-size: 2.5rem;
    }

    #home h2 {
        font-size: 1.5rem;
    }

    #home p {
        font-size: 1rem;
    }

    .cta-button {
        font-size: 1rem;
        padding: 8px 20px;
    }
}

@media (max-width: 480px) {
    #home h1 {
        font-size: 2rem;
    }

    #home h2 {
        font-size: 1.2rem;
    }

    #home p {
        font-size: 0.9rem;
    }
}
